.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    background-color: #ffffff;
    /* background: linear-gradient(135deg, #eeeb42, #dce1e7); */
    animation: backgroundAnimation 6s infinite;
  }
  
  /* @keyframes backgroundAnimation {
    0% { background: #000000; }
    50% { background: #f7f898; }
    100% { background: #141e30; }
  } */
  
  .neon-text {
    font-size: 20px;
    color: #ffffff;

  }
  .image-login{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 00px ;
  }
  
  .form-wrapper form {
    animation: fadeIn 1.5s ease;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  /* button:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #e5f2ff;
  } */
  #loginForm{
    width: 420px;
  }
  #registerForm{
    width: 420px;
  }
  
  
  